# Combining Data

We will practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, we will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [8]:
# TODO: import the pandas library
import pandas as pd

# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)

# TODO: remove the Unnamed: 62 column from each data set
df_rural = df_rural.drop(['Unnamed: 62'], axis=1)
df_electricity = df_electricity.drop(['Unnamed: 62'], axis=1)
# TODO: combine the two data sets together using the concat method
# In other words, all of the rows of df_rural will come first
# followed by all the rows in df_electricity. This is possible to do
# because they both have the same column names.

In [24]:
# df_rural.head()
df_rural.describe

<bound method NDFrame.describe of                                           Country Name Country Code  \
0                                                Aruba          ABW
1                                          Afghanistan          AFG
2                                               Angola          AGO
3                                              Albania          ALB
4                                              Andorra          AND
5                                           Arab World          ARB
6                                 United Arab Emirates          ARE
7                                            Argentina          ARG
8                                              Armenia          ARM
9                                       American Samoa          ASM
10                                 Antigua and Barbuda          ATG
11                                           Australia          AUS
12                                             Austria          AUT
13                                          Azerbaijan          AZE
14                                             Burundi          BDI
15                                             Belgium          BEL
16                                               Benin          BEN
17                                        Burkina Faso          BFA
18                                          Bangladesh          BGD
19                                            Bulgaria          BGR
20                                             Bahrain          BHR
21                                        Bahamas, The          BHS
22                              Bosnia and Herzegovina          BIH
23                                             Belarus          BLR
24                                              Belize          BLZ
25                                             Bermuda          BMU
26                                             Bolivia          BOL
27                                              Brazil          BRA
28                                            Barbados          BRB
29                                   Brunei Darussalam          BRN
..                                                 ...          ...
234  Latin America & the Caribbean (IDA & IBRD coun...          TLA
235                                        Timor-Leste          TLS
236  Middle East & North Africa (IDA & IBRD countries)          TMN
237                                              Tonga          TON
238                            South Asia (IDA & IBRD)          TSA
239          Sub-Saharan Africa (IDA & IBRD countries)          TSS
240                                Trinidad and Tobago          TTO
241                                            Tunisia          TUN
242                                             Turkey          TUR
243                                             Tuvalu          TUV
244                                           Tanzania          TZA
245                                             Uganda          UGA
246                                            Ukraine          UKR
247                                Upper middle income          UMC
248                                            Uruguay          URY
249                                      United States          USA
250                                         Uzbekistan          UZB
251                     St. Vincent and the Grenadines          VCT
252                                      Venezuela, RB          VEN
253                             British Virgin Islands          VGB
254                              Virgin Islands (U.S.)          VIR
255                                            Vietnam          VNM
256                                            Vanuatu          VUT
257                                              World          WLD
258                                              Samoa          WSM
259                                             Kosovo          XKX
260                                        Yemen, Rep.          YEM
261                                       South Africa          ZAF
262                                             Zambia          ZMB
263                                           Zimbabwe          ZWE

                               Indicator Name  Indicator Code       1960  \
0    Rural population (% of total population)  SP.RUR.TOTL.ZS  49.224000
1    Rural population (% of total population)  SP.RUR.TOTL.ZS  91.779000
2    Rural population (% of total population)  SP.RUR.TOTL.ZS  89.565000
3    Rural population (% of total population)  SP.RUR.TOTL.ZS  69.295000
4    Rural population (% of total population)  SP.RUR.TOTL.ZS  41.550000
5    Rural population (% of total population)  SP.RUR.TOTL.ZS  68.708026
6    Rural population (% of total population)  SP.RUR.TOTL.ZS  26.500000
7    Rural population (% of total population)  SP.RUR.TOTL.ZS  26.389000
8    Rural population (% of total population)  SP.RUR.TOTL.ZS  48.725000
9    Rural population (% of total population)  SP.RUR.TOTL.ZS  33.789000
10   Rural population (% of total population)  SP.RUR.TOTL.ZS  60.344000
11   Rural population (% of total population)  SP.RUR.TOTL.ZS  18.471000
12   Rural population (% of total population)  SP.RUR.TOTL.ZS  35.280000
13   Rural population (% of total population)  SP.RUR.TOTL.ZS  47.337000
14   Rural population (% of total population)  SP.RUR.TOTL.ZS  97.923000
15   Rural population (% of total population)  SP.RUR.TOTL.ZS   7.540000
16   Rural population (% of total population)  SP.RUR.TOTL.ZS  90.725000
17   Rural population (% of total population)  SP.RUR.TOTL.ZS  95.300000
18   Rural population (% of total population)  SP.RUR.TOTL.ZS  94.865000
19   Rural population (% of total population)  SP.RUR.TOTL.ZS  62.900000
20   Rural population (% of total population)  SP.RUR.TOTL.ZS  17.680000
21   Rural population (% of total population)  SP.RUR.TOTL.ZS  40.288000
22   Rural population (% of total population)  SP.RUR.TOTL.ZS  80.960000
23   Rural population (% of total population)  SP.RUR.TOTL.ZS  67.599000
24   Rural population (% of total population)  SP.RUR.TOTL.ZS  45.972000
25   Rural population (% of total population)  SP.RUR.TOTL.ZS   0.000000
26   Rural population (% of total population)  SP.RUR.TOTL.ZS  63.238000
27   Rural population (% of total population)  SP.RUR.TOTL.ZS  53.861000
28   Rural population (% of total population)  SP.RUR.TOTL.ZS  63.223000
29   Rural population (% of total population)  SP.RUR.TOTL.ZS  56.599000
..                                        ...             ...        ...
234  Rural population (% of total population)  SP.RUR.TOTL.ZS  50.988145
235  Rural population (% of total population)  SP.RUR.TOTL.ZS  89.909000
236  Rural population (% of total population)  SP.RUR.TOTL.ZS  66.117373
237  Rural population (% of total population)  SP.RUR.TOTL.ZS  82.448000
238  Rural population (% of total population)  SP.RUR.TOTL.ZS  83.264979
239  Rural population (% of total population)  SP.RUR.TOTL.ZS  85.356483
240  Rural population (% of total population)  SP.RUR.TOTL.ZS  82.651000
241  Rural population (% of total population)  SP.RUR.TOTL.ZS  62.489000
242  Rural population (% of total population)  SP.RUR.TOTL.ZS  68.485000
243  Rural population (% of total population)  SP.RUR.TOTL.ZS  84.105000
244  Rural population (% of total population)  SP.RUR.TOTL.ZS  94.754000
245  Rural population (% of total population)  SP.RUR.TOTL.ZS  95.583000
246  Rural population (% of total population)  SP.RUR.TOTL.ZS  53.208000
247  Rural population (% of total population)  SP.RUR.TOTL.ZS  72.481711
248  Rural population (% of total population)  SP.RUR.TOTL.ZS  19.759000
249  Rural population (% of total population)  SP.RUR.TOTL.ZS  30.004000
250  Rural population (% of total population)  SP.RUR.TOTL.ZS  66.022000
251  Rural population (% of total population)  SP.RUR.TOTL.ZS  74.057000
252  Rural population (% of total population)  SP.RUR.TOTL.ZS  38.387000
253  Rural population (% of total population)  SP.RUR.TOTL.ZS  87.772000
254  Rural population (% of total population)  SP.RUR.TOTL.ZS  43.523000
255  Rural population (% of total population)  SP.RUR.TOTL.ZS  85.300000
256  Rural population (% of total population)  SP.RUR.TOTL.ZS  89.596000
257  Rural population (% of total population)  SP.RUR.TOTL.ZS  66.427899
258  Rural population (% of total population)  SP.RUR.TOTL.ZS  81.074000
259  Rural population (% of total population)  SP.RUR.TOTL.ZS        NaN
260  Rural population (% of total population)  SP.RUR.TOTL.ZS  90.900000
261  Rural population (% of total population)  SP.RUR.TOTL.ZS  53.381000
262  Rural population (% of total population)  SP.RUR.TOTL.ZS  81.855000
263  Rural population (% of total population)  SP.RUR.TOTL.ZS  87.392000

          1961       1962       1963       1964       1965    ...      \
0    49.239000  49.254000  49.270000  49.285000  49.300000    ...
1    91.492000  91.195000  90.890000  90.574000  90.250000    ...
2    89.202000  88.796000  88.376000  87.942000  87.496000    ...
3    69.057000  68.985000  68.914000  68.842000  68.770000    ...
4    39.017000  36.538000  34.128000  31.795000  29.555000    ...
5    67.965580  67.219820  66.450960  65.652964  64.813430    ...
6    25.617000  24.752000  23.907000  23.081000  22.277000    ...
7    25.783000  25.233000  24.691000  24.156000  23.631000    ...
8    47.853000  46.981000  46.111000  45.242000  44.378000    ...
9    33.359000  32.932000  32.507000  32.084000  31.666000    ...
10   60.960000  61.573000  62.183000  62.789000  63.390000    ...
11   18.059000  17.663000  17.273000  16.890000  16.515000    ...
12   35.186000  35.137000  35.087000  35.038000  34.989000    ...
13   47.636000  47.936000  48.236000  48.536000  48.836000    ...
14   97.885000  97.846000  97.807000  97.767000  97.706000    ...
15    7.446000   7.321000   7.165000   7.012000   6.863000    ...
16   90.144000  89.530000  88.882000  88.199000  87.481000    ...
17   95.204000  95.107000  95.007000  94.905000  94.802000    ...
18   94.722000  94.502000  94.273000  94.036000  93.789000    ...
19   61.218000  59.506000  57.770000  56.013000  54.245000    ...
20   17.663000  17.645000  17.628000  17.611000  17.500000    ...
21   39.546000  38.807000  38.074000  37.358000  36.657000    ...
22   80.314000  79.563000  78.791000  77.996000  77.183000    ...
23   66.478000  65.337000  64.178000  63.000000  61.873000    ...
24   46.280000  46.590000  46.899000  47.210000  47.519000    ...
25    0.000000   0.000000   0.000000   0.000000   0.000000    ...
26   62.941000  62.643000  62.344000  62.043000  61.743000    ...
27   52.878000  51.901000  50.922000  49.941000  48.963000    ...
28   63.151000  63.078000  63.005000  62.932000  62.859000    ...
29   54.772000  52.930000  51.080000  49.224000  47.375000    ...
..         ...        ...        ...        ...        ...    ...
234  50.182637  49.366194  48.547377  47.723476  46.949219    ...
235  89.757000  89.489000  89.215000  88.934000  88.647000    ...
236  65.397398  64.677987  63.954108  63.219212  62.447471    ...
237  82.071000  81.688000  81.299000  80.902000  80.501000    ...
238  83.133571  82.946153  82.756975  82.561748  82.366251    ...
239  85.052421  84.742726  84.414051  84.070101  83.715700    ...
240  83.288000  83.907000  84.507000  85.090000  85.653000    ...
241  62.050000  61.609000  61.167000  60.721000  60.276000    ...
242  67.936000  67.402000  66.863000  66.320000  65.773000    ...
243  83.556000  82.992000  82.413000  81.817000  81.207000    ...
244  94.606000  94.453000  94.296000  94.135000  93.970000    ...
245  95.383000  95.174000  94.955000  94.727000  94.491000    ...
246  52.458000  51.706000  50.954000  50.200000  49.351000    ...
247  71.644487  70.914989  70.286835  69.643234  69.441784    ...
248  19.538000  19.319000  19.101000  18.886000  18.672000    ...
249  29.623000  29.243000  28.866000  28.492000  28.121000    ...
250  65.762000  65.500000  65.238000  64.975000  64.711000    ...
251  73.606000  73.149000  72.686000  72.219000  71.748000    ...
252  37.125000  36.067000  35.023000  33.991000  32.978000    ...
253  87.382000  86.981000  86.570000  86.146000  85.713000    ...
254  42.136000  40.759000  39.396000  38.048000  36.721000    ...
255  84.969000  84.631000  84.286000  83.936000  83.579000    ...
256  89.417000  89.235000  89.050000  88.862000  88.671000    ...
257  65.914790  65.472800  65.085718  64.692040  64.470390    ...
258  81.014000  80.939000  80.859000  80.779000  80.699000    ...
259        NaN        NaN        NaN        NaN        NaN    ...
260  90.541000  90.169000  89.784000  89.386000  88.974000    ...
261  53.207000  53.094000  52.980000  52.866000  52.752000    ...
262  81.049000  80.215000  79.288000  77.985000  76.628000    ...
263  87.179000  86.918000  86.422000  85.908000  85.380000    ...

          2008       2009       2010       2011       2012       2013  \
0    56.217000  56.579000  56.941000  57.302000  57.636000  57.942000
1    76.054000  75.687000  75.311000  74.926000  74.532000  74.129000
2    61.491000  60.701000  59.903000  59.100000  58.301000  57.510000
3    50.009000  48.924000  47.837000  46.753000  45.670000  44.617000
4    11.133000  11.648000  12.183000  12.740000  13.292000  13.835000
5    44.518882  44.156769  43.804530  43.463488  43.128649  42.803731
6    16.623000  16.277000  15.945000  15.625000  15.316000  15.019000
7     9.378000   9.205000   9.034000   8.867000   8.705000   8.548000
8    36.003000  36.211000  36.420000  36.629000  36.839000  37.025000
9    12.201000  12.303000  12.406000  12.500000  12.587000  12.666000
10   72.594000  73.181000  73.761000  74.333000  74.865000  75.357000
11   11.555000  11.410000  11.267000  11.125000  10.985000  10.847000
12   34.159000  34.153000  34.148000  34.142000  34.136000  34.116000
13   47.010000  46.810000  46.599000  46.377000  46.144000  45.900000
14   89.882000  89.624000  89.359000  89.088000  88.811000  88.528000
15    2.454000   2.406000   2.359000   2.313000   2.268000   2.224000
16   58.922000  58.539000  58.146000  57.744000  57.333000  56.914000
17   76.007000  75.172000  74.335000  73.495000  72.654000  71.814000
18   71.032000  70.291000  69.538000  68.775000  68.010000  67.247000
19   28.378000  28.037000  27.698000  27.362000  27.029000  26.700000
20   11.532000  11.500000  11.465000  11.425000  11.381000  11.333000
21   17.558000  17.505000  17.451000  17.394000  17.333000  17.268000
22   60.839000  60.817000  60.774000  60.709000  60.622000  60.514000
23   26.274000  25.828000  25.385000  24.954000  24.533000  24.123000
24   54.499000  54.768000  55.037000  55.282000  55.504000  55.702000
25    0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
26   34.450000  34.009000  33.574000  33.145000  32.721000  32.304000
27   16.251000  15.956000  15.665000  15.377000  15.099000  14.829000
28   67.590000  67.765000  67.940000  68.095000  68.231000  68.348000
29   25.254000  24.866000  24.490000  24.128000  23.777000  23.439000
..         ...        ...        ...        ...        ...        ...
234  22.233788  21.925063  21.620251  21.319658  21.026296  20.739815
235  71.797000  71.150000  70.493000  69.829000  69.168000  68.515000
236  42.018744  41.695639  41.367334  41.032754  40.688882  40.344480
237  76.719000  76.665000  76.611000  76.557000  76.502000  76.440000
238  69.789716  69.405404  69.017292  68.624813  68.223951  67.816073
239  65.721157  65.239629  64.749106  64.253053  63.751827  63.248082
240  90.592000  90.751000  90.908000  91.063000  91.205000  91.334000
241  34.399000  34.233000  34.066000  33.900000  33.726000  33.544000
242  30.438000  29.859000  29.285000  28.718000  28.166000  27.630000
243  47.235000  46.218000  45.204000  44.193000  43.185000  42.186000
244  73.224000  72.561000  71.886000  71.202000  70.507000  69.804000
245  86.108000  85.811000  85.508000  85.200000  84.885000  84.563000
246  31.675000  31.498000  31.314000  31.124000  30.928000  30.726000
247  42.647381  41.697005  40.744599  39.794392  38.865384  37.962575
248   6.002000   5.791000   5.586000   5.388000   5.197000   5.017000
249  19.562000  19.394000  19.228000  19.060000  18.892000  18.723000
250  63.695000  63.765000  63.809000  63.827000  63.818000  63.783000
251  51.929000  51.572000  51.215000  50.860000  50.505000  50.152000
252  11.313000  11.272000  11.231000  11.190000  11.149000  11.106000
253  55.952000  55.655000  55.355000  55.052000  54.747000  54.438000
254   5.761000   5.581000   5.406000   5.240000   5.084000   4.936000
255  70.872000  70.242000  69.608000  68.971000  68.332000  67.691000
256  76.015000  75.714000  75.411000  75.106000  74.800000  74.492000
257  49.540533  49.041521  48.545873  48.058601  47.571763  47.093870
258  79.476000  79.700000  79.922000  80.143000  80.361000  80.560000
259        NaN        NaN        NaN        NaN        NaN        NaN
260  69.398000  68.835000  68.268000  67.698000  67.126000  66.550000
261  38.846000  38.313000  37.782000  37.254000  36.728000  36.212000
262  62.125000  61.701000  61.275000  60.847000  60.413000  59.973000
263  66.440000  66.622000  66.804000  66.985000  67.166000  67.346000

          2014       2015       2016       2017
0    58.221000  58.472000  58.696000  58.893000
1    73.718000  73.297000  72.868000  72.430000
2    56.726000  55.950000  55.181000  54.422000
3    43.591000  42.593000  41.624000  40.684000
4    14.367000  14.885000  15.388000  15.873000
5    42.491260  42.191790  41.906071  41.631967
6    14.734000  14.459000  14.196000  13.942000
7     8.396000   8.249000   8.107000   7.970000
8    37.188000  37.327000  37.442000  37.533000
9    12.736000  12.798000  12.852000  12.897000
10   75.810000  76.227000  76.607000  76.953000
11   10.711000  10.577000  10.446000  10.317000
12   34.081000  34.032000  33.968000  33.890000
13   45.645000  45.380000  45.105000  44.819000
14   88.239000  87.943000  87.641000  87.333000
15    2.182000   2.142000   2.103000   2.066000
16   56.486000  56.050000  55.605000  55.153000
17   70.976000  70.141000  69.312000  68.489000
18   66.484000  65.723000  64.965000  64.210000
19   26.374000  26.052000  25.734000  25.419000
20   11.281000  11.225000  11.165000  11.101000
21   17.199000  17.126000  17.049000  16.969000
22   60.384000  60.233000  60.060000  59.865000
23   23.723000  23.333000  22.954000  22.584000
24   55.876000  56.027000  56.155000  56.258000
25    0.000000   0.000000   0.000000   0.000000
26   31.893000  31.488000  31.089000  30.697000
27   14.567000  14.313000  14.067000  13.828000
28   68.446000  68.525000  68.585000  68.626000
29   23.113000  22.798000  22.495000  22.203000
..         ...        ...        ...        ...
234  20.459816  20.186735  19.920309  19.660023
235  67.869000  67.230000  66.599000  65.978000
236  40.005826  39.676603  39.357845  39.047305
237  76.368000  76.288000  76.199000  76.102000
238  67.399895  66.975278  66.543482  66.102820
239  62.742381  62.236074  61.729486  61.223019
240  91.450000  91.555000  91.648000  91.730000
241  33.355000  33.158000  32.953000  32.741000
242  27.109000  26.603000  26.113000  25.637000
243  41.218000  40.283000  39.380000  38.511000
244  69.099000  68.392000  67.684000  66.977000
245  84.234000  83.899000  83.556000  83.206000
246  30.518000  30.305000  30.085000  29.860000
247  37.087638  36.241297  35.426017  34.639825
248   4.848000   4.689000   4.540000   4.399000
249  18.553000  18.383000  18.212000  18.040000
250  63.722000  63.635000  63.521000  63.380000
251  49.800000  49.450000  49.101000  48.753000
252  11.059000  11.010000  10.957000  10.902000
253  54.128000  53.814000  53.498000  53.180000
254   4.797000   4.665000   4.541000   4.424000
255  67.049000  66.407000  65.764000  65.121000
256  74.183000  73.872000  73.559000  73.246000
257  46.623284  46.160455  45.706334  45.261450
258  80.740000  80.902000  81.045000  81.170000

In [10]:
df_electricity.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN

In [12]:
df_concat = pd.concat([df_rural, df_electricity])
df_concat.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

# Exercise 2 (Challenge)

This exercise is more challenging.

Combine the two datas in the csv file together so that the output looks like the following:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [27]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value
df_rural_melt = pd.melt(df_rural,\
                        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                       var_name = 'Year', value_name='Rural_Value')
df_electricity_melt = pd.melt(df_electricity,\
                              id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                             var_name='Year', value_name='Electricity_Value')

# TODO: drop any columns from the data frames that aren't needed
df_rural_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)
df_electricity_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_merge = df_rural_melt.merge(df_electricity_melt, how='outer',\
                               on=['Country Name', 'Country Code', 'Year'])
# TODO: sort the results by country and then by year

df_combined = df_merge.sort_values(['Country Name', 'Year'])

In [28]:
df_combined.head()

     Country Name Country Code  Year  Rural_Value  Electricity_Value
1     Afghanistan          AFG  1960       91.779                NaN
265   Afghanistan          AFG  1961       91.492                NaN
529   Afghanistan          AFG  1962       91.195                NaN
793   Afghanistan          AFG  1963       90.890                NaN
1057  Afghanistan          AFG  1964       90.574                NaN